<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangxj96.saas.server.platform.mapper.AdministrativeDivisionMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap" type="com.yangxj96.saas.starter.db.entity.platform.AdministrativeDivision">
        <!--@mbg.generated-->
        <!--@Table db_system.t_administrative_division-->
        <id column="id"               jdbcType="BIGINT"    property="id"/>
        <result column="name"         jdbcType="VARCHAR"   property="name"/>
        <result column="pid"          jdbcType="BIGINT"    property="pid"/>
        <result column="level"        jdbcType="INTEGER"   property="level"/>
        <result column="created_user" jdbcType="BIGINT"    property="createdUser"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_user" jdbcType="BIGINT"    property="updatedUser"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="deleted"      jdbcType="TIMESTAMP" property="deleted"/>
    </resultMap>
    <!-- @formatter:on -->
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        "name",
        pid,
        "level",
        created_user,
        created_time,
        updated_user,
        updated_time,
        deleted
    </sql>
</mapper>